*node_modules
*.DS_Store

frontend/dist
frontend/reports
frontend/result
frontend/.env
frontend/test-results
frontend/playwright-report/data
frontend/playwright-report/index.html

backend/target
backend/.idea